<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|Account verification|"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>
<body>
<p th:text="|Dear ${miraklShop.contactInformation.civility} ${miraklShop.contactInformation.firstname} ${miraklShop.contactInformation.lastname},|">
</p>
<p th:text="|Please following the link below to add your documents:|">
</p>
<p>
    <a th:href="|${miraklCallBackShopUrl}|"
       th:text="|${miraklCallBackShopUrl}|"></a>
</p>
</body>
</html>
