
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myShareholderMappingLabel" data-translate="adyenMiraklConnectorApp.shareholderMapping.home.createOrEditLabel">Create or edit a Shareholder Mapping</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.shareholderMapping.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.shareholderMapping.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adyenMiraklConnectorApp.shareholderMapping.miraklShopId" for="field_miraklShopId">Mirakl Shop Id</label>
            <input type="text" class="form-control" name="miraklShopId" id="field_miraklShopId"
                    ng-model="vm.shareholderMapping.miraklShopId"
                    required/>
            <div ng-show="editForm.miraklShopId.$invalid">
                <p class="help-block"
                    ng-show="editForm.miraklShopId.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adyenMiraklConnectorApp.shareholderMapping.miraklUboNumber" for="field_miraklUboNumber">Mirakl Ubo Number</label>
            <input type="number" class="form-control" name="miraklUboNumber" id="field_miraklUboNumber"
                    ng-model="vm.shareholderMapping.miraklUboNumber"
                    required/>
            <div ng-show="editForm.miraklUboNumber.$invalid">
                <p class="help-block"
                    ng-show="editForm.miraklUboNumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.miraklUboNumber.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="adyenMiraklConnectorApp.shareholderMapping.adyenShareholderCode" for="field_adyenShareholderCode">Adyen Shareholder Code</label>
            <input type="text" class="form-control" name="adyenShareholderCode" id="field_adyenShareholderCode"
                    ng-model="vm.shareholderMapping.adyenShareholderCode"
                    required/>
            <div ng-show="editForm.adyenShareholderCode.$invalid">
                <p class="help-block"
                    ng-show="editForm.adyenShareholderCode.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
